*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,h3{
    color: rgb(59, 58, 58);
}

body{
    font-family: 'Lato', sans-serif;
}

h3,h4{
    font-weight: 400;
    color: rgb(109, 108, 108);
}

@import "./Header";